node_modules/
target/
.mvn/wrapper/maven-wrapper.jar
dist/
tmp/
out-tsc/
bazel-out/
/.angular/cache
.sass-cache/
/coverage
*.log
.DS_Store
Thumbs.db

### IDE ###
.vscode/launch.json
.vscode/tasks.json
.vscode/extensions.json
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings
.springBeans
.sts4-cache
.apt_generated
.factorypath
